<nav id="sidebar">
<ul class="nav flex-column">
<li class="nav-item">
<a href="#" class="nav-link" data-view="vertical-designer">Vertical Designer</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link" data-view="feedline-matching">Feedline &amp; Matching</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link" data-view="dx-patterns">DX &amp; Patterns</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link" data-view="nvis-field">NVIS &amp; Field Ops</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link" data-view="doublet-designer">Doublet Designer</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link" data-view="random-wire">Random‑Wire + 9:1</a>
</li>
</ul>
</nav>
